.dividerImage {
	height:10px;
    margin-bottom: -2px;
	border:none !important;
}

.perforatedDivider {
    background:url($perforatedDividerImage);
}

.xDivider {
        background:url($xDividerImage);
}