.dividerImage {
	height:10px;
    margin-bottom: -2px;
	border:none !important;
}

.perforatedDivider {
    background:url(../img/perforated-bottom@2x.png);
}

.xDivider {
        background:url(../img/hatch-light@2x.png);
}