.linkBar {
    margin-top: 10px;
    background-color: $whiteColor;

    .logoImage {
    background-color: $whiteColor;
    margin-right: 30px;
    padding: 5px;
    }

    .linksLinkBar {
    height: 125px;
    line-height: 110px;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    color: $blackColor;
    }

    .linksBarRight {
        flex: 2;
    }

}