.searchAndCartRow {

.search {
        background: url($searchImage) no-repeat scroll 7px 7px;
        padding-left:30px;
        margin-top: 10px;
        border-radius: 5px;
        height: 35px;
        font-size: 12px;
        float: right;
        box-shadow: 0 0 0 4px $backgroundGray;
        margin: 4px;
        border: 1px solid $boxBorderGray;
    }

    .cartRow {
        background: url($cartImage) no-repeat scroll 5px 5px;
    }

}