.story {
.ourStory {
    text-align: center;
}

.ourStoryText {
    margin-top: 50px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.ourStoryLink {
    margin-bottom: 35px;
    font-size: 20px;
    color: $lightBlueColor;
}
}