$navBarOrange: #F87547;
$navBarDarkOrange: #CE5E39;
$backgroundGray: #f4f4f4;
$boxBorderGray: #d8d8d8;
$buttonBlue: #40AEFC;
$buttonHover: blue;
$lightBlueColor: lightblue;
$contactCardBackground: #ACB8C8;
$whiteColor: white;
$footerColumnGray: gray;
$lightGrayColor: lightgray;
$navHover: dodgerblue;
$blackColor: black;
$perforatedDividerImage: "../img/perforated-bottom@2x.png";
$xDividerImage: "../img/hatch-light@2x.png";
$searchImage: "../img/search.png";
$cartImage: "../img/cart20.png";

* {
    box-sizing: border-box;
    }

body {
    background: $whiteColor;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    margin-right: 10px;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}


@import 'linkNoDecoration';

@import 'navigationBar';

@import 'linkBar';

@import 'signInAndRegister';

@import 'searchAndCartRow';

@import 'dividers';

@import 'tieBar';

@import 'tieBarText';

@import 'otherItems';

@import 'story';

@import 'theBoxRow';

@import 'footer';